<h1>Enter initial data for Robby</h1>
<div class="entry container">
  <div class="pole-info column">
    <div class="input-block">
      <h2>Enter rows</h2>
      <div class="row" *ngIf='!(mazeInfo==undefined)'>
        <button (click)="addRows(-1)">-</button>
        <p class="infoText">{{mazeInfo.rows}}</p>
        <button (click)="addRows(1)">+</button>
      </div>
    </div>
  </div>

  <div class="pole-info column">
    <div class="input-block">
        <h2>Enter columns</h2>
        <div class="row" *ngIf='!(mazeInfo==undefined)'>
          <button (click)="addColumns(-1)">-</button>
          <p class="infoText">{{mazeInfo.columns}}</p>
          <button (click)="addColumns(1)">+</button>
        </div>
      </div>
  </div>

  <div class="pole-info column">
      <div class="input-block">
        <h2>Enter energy</h2>
        <div class="row" *ngIf='!(mazeInfo==undefined)'>
          <button (click)="addEnergy(-1)">-</button>
          <p class="infoText">{{mazeInfo.energy}}</p>
          <button (click)="addEnergy(1)">+</button>
        </div>
      </div>
  </div>
</div>
<div class="pole container">
  <h2>Click on plate to edit maze</h2>
  <div class="pole-container">
    <div class="pole-column" *ngFor="let column of mazeInfo.maze; let idx = index">
        <div class="pole-row" *ngFor="let row of column; let jdx = index" (click)="toggleTile(idx,jdx)">{{row}}
            <!-- <div class="pole-row" *ngFor="let tile of row">tile</div> -->
            <img *ngIf="row=='S'" src="../../../assets/images/start.jpg" alt="">
            <img *ngIf="row=='T'" src="../../../assets/images/finish.jpg" alt="">
            <img *ngIf="row=='.'" src="../../../assets/images/road.jpg" alt="">
            <img *ngIf="row=='#'" src="../../../assets/images/obstacle.jpg" alt="">

        </div>
    </div>
  </div>
</div>
<div class="start container">
  <button class="exit-button" (click)="findExit()">Exit Maze</button>
</div>